/*
    *Spacing.css v2 (2018)
    --! MIT License !--
    -- Made By Khaled Mneimneh --
    Github Link https://github.com/Devel0per95/Useful-CSS-Library
*/
/* Padding Starts */
.p-0 {padding: 0px !important;}
.p-5 {padding: 5px !important;}
.p-10 {padding: 10px !important;}
.p-15 {padding: 15px !important;}
.p-20 {padding: 20px !important;}
.p-25 {padding: 25px !important;}
.p-30 {padding: 30px !important;}
.p-35 {padding: 35px !important;}
.p-40 {padding: 40px !important;}
.p-45 {padding: 45px !important;}
.p-50 {padding: 50px !important;}
.p-55 {padding: 55px !important;}
.p-60 {padding: 60px !important;}
.p-65 {padding: 65px !important;}
.p-70 {padding: 70px !important;}
.p-75 {padding: 75px !important;}
.p-80 {padding: 80px !important;}
.p-85 {padding: 85px !important;}
.p-90 {padding: 90px !important;}
.p-95 {padding: 95px !important;}
.p-100 {padding: 100px !important;}

/* Padding Right + Left */
.px-0 {
    padding-right: 0;
    padding-left: 0;
}
.px-5 {
    padding-right: 5px;
    padding-left: 5px;
}
.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}
.px-15 {
    padding-right: 15px;
    padding-left: 15px;
}
.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.px-25 {
    padding-right: 25px;
    padding-left: 25px;
}
.px-30 {
    padding-right: 30px;
    padding-left: 30px;
}
.px-35 {
    padding-right: 35px;
    padding-left: 35px;
}
.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}
.px-45 {
    padding-right: 45px;
    padding-left: 45px;
}
.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}
.px-55 {
    padding-right: 55px;
    padding-left: 55px;
}
.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}
.px-65 {
    padding-right: 65px;
    padding-left: 65px;
}
.px-70 {
    padding-right: 70px;
    padding-left: 70px;
}
.px-75 {
    padding-right: 75px;
    padding-left: 75px;
}
.px-80 {
    padding-right: 80px;
    padding-left: 80px;
}
.px-85 {
    padding-right: 85px;
    padding-left: 85px;
}
.px-90 {
    padding-right: 90px;
    padding-left: 90px;
}
.px-95 {
    padding-right: 95px;
    padding-left: 95px;
}
.px-100 {
    padding-right: 100px;
    padding-left: 100px;
}

/* Padding Top + Bottom */
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.py-65 {
    padding-top: 65px;
    padding-bottom: 65px;
}
.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.py-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.py-85 {
    padding-top: 85px;
    padding-bottom: 85px;
}
.py-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.py-95 {
    padding-top: 95px;
    padding-bottom: 95px;
}
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-0 {padding-top: 0px !important;}
.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}
.pt-35 {padding-top: 35px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-45 {padding-top: 45px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-55 {padding-top: 55px !important;}
.pt-60 {padding-top: 60px !important;}
.pt-65 {padding-top: 65px !important;}
.pt-70 {padding-top: 70px !important;}
.pt-75 {padding-top: 75px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-85 {padding-top: 85px !important;}
.pt-90 {padding-top: 90px !important;}
.pt-95 {padding-top: 95px !important;}
.pt-100 {padding-top: 100px !important;}

.pr-0 {padding-right: 0px !important;}
.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}
.pr-35 {padding-right: 35px !important;}
.pr-40 {padding-right: 40px !important;}
.pr-45 {padding-right: 45px !important;}
.pr-50 {padding-right: 50px !important;}
.pr-55 {padding-right: 55px !important;}
.pr-60 {padding-right: 60px !important;}
.pr-65 {padding-right: 65px !important;}
.pr-70 {padding-right: 70px !important;}
.pr-75 {padding-right: 75px !important;}
.pr-80 {padding-right: 80px !important;}
.pr-85 {padding-right: 85px !important;}
.pr-90 {padding-right: 90px !important;}
.pr-95 {padding-right: 95px !important;}
.pr-100 {padding-right: 100px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-55 {padding-bottom: 55px !important;}
.pb-60 {padding-bottom: 60px !important;}
.pb-65 {padding-bottom: 65px !important;}
.pb-70 {padding-bottom: 70px !important;}
.pb-75 {padding-bottom: 75px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-85 {padding-bottom: 85px !important;}
.pb-90 {padding-bottom: 90px !important;}
.pb-95 {padding-bottom: 95px !important;}
.pb-100 {padding-bottom: 100px !important;}

.pl-0 {padding-left: 0px !important;}
.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}
.pl-35 {padding-left: 35px !important;}
.pl-40 {padding-left: 40px !important;}
.pl-45 {padding-left: 45px !important;}
.pl-50 {padding-left: 50px !important;}
.pl-55 {padding-left: 55px !important;}
.pl-60 {padding-left: 60px !important;}
.pl-65 {padding-left: 65px !important;}
.pl-70 {padding-left: 70px !important;}
.pl-75 {padding-left: 75px !important;}
.pl-80 {padding-left: 80px !important;}
.pl-85 {padding-left: 85px !important;}
.pl-90 {padding-left: 90px !important;}
.pl-95 {padding-left: 95px !important;}
.pl-100 {padding-left: 100px !important;}
/* Padding Ends */

/* Margin Starts */
.m-0 {margin: 0px !important;}
.m-5 {margin: 5px !important;}
.m-10 {margin: 10px !important;}
.m-15 {margin: 15px !important;}
.m-20 {margin: 20px !important;}
.m-25 {margin: 25px !important;}
.m-30 {margin: 30px !important;}
.m-35 {margin: 35px !important;}
.m-40 {margin: 40px !important;}
.m-45 {margin: 45px !important;}
.m-50 {margin: 50px !important;}
.m-55 {margin: 55px !important;}
.m-60 {margin: 60px !important;}
.m-65 {margin: 65px !important;}
.m-70 {margin: 70px !important;}
.m-75 {margin: 75px !important;}
.m-80 {margin: 80px !important;}
.m-85 {margin: 85px !important;}
.m-90 {margin: 90px !important;}
.m-95 {margin: 95px !important;}
.m-100 {margin: 100px !important;}
.m-105 {margin: 105px !important;}
.m-110 {margin: 110px !important;}
.m-115 {margin: 115px !important;}
.m-120 {margin: 120px !important;}
.m-125 {margin: 125px !important;}
.m-130 {margin: 130px !important;}
.m-135 {margin: 135px !important;}
.m-140 {margin: 140px !important;}
.m-145 {margin: 145px !important;}
.m-150 {margin: 150px !important;}
.m-155 {margin: 155px !important;}
.m-160 {margin: 160px !important;}
.m-165 {margin: 165px !important;}
.m-170 {margin: 170px !important;}
.m-175 {margin: 175px !important;}
.m-180 {margin: 180px !important;}
.m-185 {margin: 185px !important;}
.m-190 {margin: 190px !important;}
.m-195 {margin: 195px !important;}
.m-200 {margin: 200px !important;}
.m-205 {margin: 205px !important;}
.m-210 {margin: 210px !important;}
.m-215 {margin: 215px !important;}
.m-220 {margin: 220px !important;}
.m-225 {margin: 225px !important;}
.m-230 {margin: 230px !important;}
.m-235 {margin: 235px !important;}
.m-240 {margin: 240px !important;}
.m-245 {margin: 245px !important;}
.m-250 {margin: 250px !important;}
.m-255 {margin: 255px !important;}
.m-260 {margin: 260px !important;}
.m-265 {margin: 265px !important;}
.m-270 {margin: 270px !important;}
.m-275 {margin: 275px !important;}
.m-280 {margin: 280px !important;}
.m-285 {margin: 285px !important;}
.m-290 {margin: 290px !important;}
.m-295 {margin: 295px !important;}
.m-300 {margin: 300px !important;}

/* Margin Right + Left */
.mx-0 {
    margin-right: 0;
    margin-left: 0;
}
.mx-5 {
    margin-right: 5px;
    margin-left: 5px;
}
.mx-10 {
    margin-right: 10px;
    margin-left: 10px;
}
.mx-15 {
    margin-right: 15px;
    margin-left: 15px;
}
.mx-20 {
    margin-right: 20px;
    margin-left: 20px;
}
.mx-25 {
    margin-right: 25px;
    margin-left: 25px;
}
.mx-30 {
    margin-right: 30px;
    margin-left: 30px;
}
.mx-35 {
    margin-right: 35px;
    margin-left: 35px;
}
.mx-40 {
    margin-right: 40px;
    margin-left: 40px;
}
.mx-45 {
    margin-right: 45px;
    margin-left: 45px;
}
.mx-50 {
    margin-right: 50px;
    margin-left: 50px;
}
.mx-55 {
    margin-right: 55px;
    margin-left: 55px;
}
.mx-60 {
    margin-right: 60px;
    margin-left: 60px;
}
.mx-65 {
    margin-right: 65px;
    margin-left: 65px;
}
.mx-70 {
    margin-right: 70px;
    margin-left: 70px;
}
.mx-75 {
    margin-right: 75px;
    margin-left: 75px;
}
.mx-80 {
    margin-right: 80px;
    margin-left: 80px;
}
.mx-85 {
    margin-right: 85px;
    margin-left: 85px;
}
.mx-90 {
    margin-right: 90px;
    margin-left: 90px;
}
.mx-95 {
    margin-right: 95px;
    margin-left: 95px;
}
.mx-100 {
    margin-right: 100px;
    margin-left: 100px;
}

/* Margin Top + Bottom */
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}
.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}
.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-55 {
    margin-top: 55px;
    margin-bottom: 55px;
}
.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.my-65 {
    margin-top: 65px;
    margin-bottom: 65px;
}
.my-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.my-75 {
    margin-top: 75px;
    margin-bottom: 75px;
}
.my-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.my-85 {
    margin-top: 85px;
    margin-bottom: 85px;
}
.my-90 {
    margin-top: 90px;
    margin-bottom: 90px;
}
.my-95 {
    margin-top: 95px;
    margin-bottom: 95px;
}
.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt-0 {margin-top: 0px !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-35 {margin-top: 35px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-55 {margin-top: 55px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-65 {margin-top: 65px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-75 {margin-top: 75px !important;}
.mt-80 {margin-top: 80px !important;}
.mt-85 {margin-top: 85px !important;}
.mt-90 {margin-top: 90px !important;}
.mt-95 {margin-top: 95px !important;}
.mt-100 {margin-top: 100px !important;}

.mr-0 {margin-right: 0px !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.mr-20 {margin-right: 20px !important;}
.mr-25 {margin-right: 25px !important;}
.mr-30 {margin-right: 30px !important;}
.mr-35 {margin-right: 35px !important;}
.mr-40 {margin-right: 40px !important;}
.mr-45 {margin-right: 45px !important;}
.mr-50 {margin-right: 50px !important;}
.mr-55 {margin-right: 55px !important;}
.mr-60 {margin-right: 60px !important;}
.mr-65 {margin-right: 65px !important;}
.mr-70 {margin-right: 70px !important;}
.mr-75 {margin-right: 75px !important;}
.mr-80 {margin-right: 80px !important;}
.mr-85 {margin-right: 85px !important;}
.mr-90 {margin-right: 90px !important;}
.mr-95 {margin-right: 95px !important;}
.mr-100 {margin-right: 100px !important;}

.mb-0 {margin-bottom: 0px !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-55 {margin-bottom: 55px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-65 {margin-bottom: 65px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-75 {margin-bottom: 75px !important;}
.mb-80 {margin-bottom: 80px !important;}
.mb-85 {margin-bottom: 85px !important;}
.mb-90 {margin-bottom: 90px !important;}
.mb-95 {margin-bottom: 95px !important;}
.mb-100 {margin-bottom: 100px !important;}

.ml-0 {margin-left: 0px !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.ml-20 {margin-left: 20px !important;}
.ml-25 {margin-left: 25px !important;}
.ml-30 {margin-left: 30px !important;}
.ml-35 {margin-left: 35px !important;}
.ml-40 {margin-left: 40px !important;}
.ml-45 {margin-left: 45px !important;}
.ml-50 {margin-left: 50px !important;}
.ml-55 {margin-left: 55px !important;}
.ml-60 {margin-left: 60px !important;}
.ml-65 {margin-left: 65px !important;}
.ml-70 {margin-left: 70px !important;}
.ml-75 {margin-left: 75px !important;}
.ml-80 {margin-left: 80px !important;}
.ml-85 {margin-left: 85px !important;}
.ml-90 {margin-left: 90px !important;}
.ml-95 {margin-left: 95px !important;}
.ml-100 {margin-left: 100px !important;}
/* Margin Ends */
